In [1]:
import numpy as np
import pandas as pd

In [19]:
temp = pd.DataFrame([1,3,2], columns=['number'])

In [20]:
temp

   number
0       1
1       3
2       2

In [21]:
temp = temp.sort('number')

/home/godcedric/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [22]:
temp

   number
0       1
2       2
1       3

In [27]:
temp.drop([0,1])

   number
2       2

In [31]:
temp.iloc[0]

number    1
Name: 0, dtype: int64